@charset "utf-8";


h1 {
    color: #000;
    font-size: 50px;
    text-align: center;
    background-color: #fff;
    margin: 24px;
    padding: 5px 8px;
    border: 25px groove;
    border-top: 40px solid;
    border-bottom: 40px solid;
    border-image: linear-gradient(to right, #fbfd5c 0%, #acff40 10%, #77ff5c 20%, #57ffbe 30%, #45f1be 40%, #15ccfa 50%, #3e8bff 60%, #ea62f7 70%, #fd4ca5 80%,  #f76262 90%, #ff5656 100%);
    border-image-slice: 1;
}

ul.top {
    float: left;
    text-align: center;
}
input.img{
    font-size: 20px;
    background-color: #fff;
    border: double rgb(0, 0, 0);
    margin: 35px;
}

li.a {
    font-size: 20px;
    float: right;
    text-align: center;
    list-style: none;
    padding: 20px 20px;
    margin: 10px;
    border: 8px solid #000;
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 20px;
    width: 5%;
  }
  
  li.b {
    font-size: 20px;
    float: right;
    text-align: center;
    list-style: none;
    padding: 20px 20px;
    margin: 10px;
    border: 8px solid #000;
    background-color: #fff;
    position: absolute;
    top: 200px;
    right: 20px;
    width: 5%;
  }
  
  li.c {
    font-size: 20px;
    float: right;
    text-align: center;
    list-style: none;
    padding: 20px 20px;
    margin: 10px;
    background-color: #fff;
    position: absolute;
    top: 200px;
    right: 60px;
    width: 5%;
  }
  
div.selected{
  position:absolute; top:300px; left:80px;
}
button.text1{
  font-size: 40px;
  position:absolute; top:280px; left:10px;
}
div.profile{
  margin-top: 110px;
  margin-left: 30px;
  top: 200px;
}
#normal{
  position: relative;
  margin: 10px;
  font-size: 30px;
}
#shiny{
  position: relative;
  margin:10px;
  font-size: 30px;
}
#prev{
  position: relative;
  top: 100px;
  left: 30px;
  font-size: 30px;
}
#next{
  position: relative;
  top: 100px;
  left: 1290px;
  /**right: 30px;**/
  font-size: 30px;
}
#setting-command{
  display: flex;
  justify-content: center;
}
table{
  font-size: large;
  text-align: center;
  margin:5px;
}
table.data1{
  position:absolute; top:320px; right:510px;
  width: 350px;
}
table.data2{
  position:absolute; top:320px; right:145px;
  width: 360px;
}
table.data3{
  position:absolute; top:320px; right:20px;
}
td{
  text-align: center;
}
iframe{
    position:absolute; top:400px; left:210px;
    transform:scale(.7);
}
p.left{
    font-size:30px;
    position:absolute;
    left:40px;
    top:600px;
    border: 5px groove rgb(255, 255, 255);
}
p.right{
    font-size:30px;
    position:absolute;
    right:40px;
    top:600px;
    border: 5px groove rgb(255, 255, 255);
}
li{
  list-style-type: none;
}
.pokemon-list-container{
  width: 90%;
  margin: 0 auto;
  display: block;
  white-space: nowrap; /* 子要素が横並びになるように */
  overflow-x: auto; /* コンテンツが溢れたら横スクロール */
}
.pokemon-container {
  white-space: nowrap;
  overflow-x: auto;
}

.pokemon-thumbnail {
  width: 80px;
  height: 80px;
  margin: 5px;
}
.progress-bar {
  height: 5px; /* バーの高さ */
  background-color: #007bff; /* バーの色 */
  width: 80px; /* 初期幅 */
  position: absolute;
  bottom: 0;
  left: 0;
}

.move_field {
  text-align: center;
}
table.move{
  width: 1200px;
}
div.poke_move_edit{
  text-align: center;
  font-size: 20px;
}


body.dark-mode {
  background-color: black;
  color: white;
}

.setting-command {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.toggle_button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 170px;
  height: 42px;
}

.toggle_input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle_label {
  width: 170px;
  height: 42px;
  background: #fff;
  border: 3px solid #eee;
  position: relative;
  display: inline-block;
  border-radius: 40px;
  transition: 0.4s;
  box-sizing: border-box;
  text-align: center;
  line-height: 42px;
}

.toggle_label:after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #eee;
  transition: 0.4s;
}

body:not(.dark-mode) .toggle_label {
  background-color: #fff;
  border: 3px solid #000;
}

body.dark-mode tbody{
  color: #fff;
  background-color: #000;
}

body.dark-mode .toggle_label {
  background-color: #000;
  border: 3px solid #fff;
}

body.dark-mode #button1,
body.dark-mode #button2,
body.dark-mode #button3,
body.dark-mode #button4{
  border: 8px solid #fff;
  background-color: #000;
  color: #fff;
}

body:not(.dark-mode) #languageButton:checked + .toggle_label,
body:not(.dark-mode) #imageButton:checked + .toggle_label {
  border: 3px solid #000;
}

.toggle_input:checked + .toggle_label:after {
  left: calc(100% - 34px);
}

.decision-command {
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
}


.decision-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
}

#buttonWithImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

#decisionButton {
  display: block;
  text-align: center;
}

#decisionButton img {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}
.toggle_label.shiny {
  border-image: linear-gradient(to right, #fbfd5c 0%, #acff40 10%, #77ff5c 20%, #57ffbe 30%, #45f1be 40%, #15ccfa 50%, #3e8bff 60%, #ea62f7 70%, #fd4ca5 80%,  #f76262 90%, #ff5656 100%);
  border-image-slice: 1;
}

.center-image {
  margin: 0 auto;
}